body{
}

.header a{
	display:block;
	text-align: center;
	background-color:#34bf49;
	color:#fff;
	font-size:30px;
	padding:25px 0;
	font-weight:bold;
}
.header a:hover{
	text-decoration: none;
}

.form-wrapper{
	border-top:5px solid #333;
	background-color:#f8f8f8;	
}